body {
      font-family: 'Montserrat', san-serif;
}

.top {
      background-color: #2041e8;
      /* background-color: #000; */
}

.top img {
      max-width: 25%;
      margin-left: 37.5%;
}

.instructions {
      max-width: 80%;
      margin: 0 auto;
}

.inputs form{
      margin: 0 auto 0 auto;
      padding: .5rem 2rem;
      max-width: 30%;
      text-align: center;
      min-width: 189px;
}

/* label {
      line-height: 3rem;
} */

.y-box {
      background-color: #fecd2f;
      color: #000;
      min-width: 189px;
      padding: 0 2px;
}

.y-box input {
      background-color: #fecd2f;
      color: #000;
}

.y-box h3 {
      margin: 0;
}

.b-box {
      background-color: #2041e8;
      padding: 0 2px;
      color: #FFF;
}

.b-box input {
      background-color: #2041e8;
}

.box input{
      border:none;
      text-align: center;
      font-weight: bolder;
}

#wtrcalc {
      color: #FFF;
}

#ntlcalc {
      color: #FFF;
}

.error {
      color: red;
      font-style: italic;
}

.results {
      text-align: center;
      /* max-width: 40%; */
      /* margin-left: 30%; */
}

.results h3 {
      border: 3px solid #2041e8;
      max-width: 255px;
      margin: 1rem auto;
}

.refine {
      width: 100%;


}

.refine p {
      font-style: italic;
      padding: 0;
}

.refine h4 {
      text-align: center;
      padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.refine h3 {
      text-align: left;
      display: flex;
      justify-content: space-between;
}
.refine input {
      display: inline-block;
      width: 3rem;
      border-color: #fecd2f;
      border-width:5px;
      border-style: solid;
      margin-left: .5rem;
      text-align: center;
}

.refine h3+h3 input {
      margin-left: 2rem;
}

.questions {
      margin: 0 auto 0 auto;
      padding: 5px 0;
      max-width: 30%;
      text-align: center;
      min-width: 189px;
}

.questions h3, h2{
      margin: 0;
}

a {
      text-decoration: none;
      color: white;
}

@media screen and (max-width: 875px){
      .refine {
            display: flex;
            flex-direction:column;
            justify-content: center;
      }

      .refine h4 {
            margin: 0 auto;
      }

      .refine h3 {
            flex-direction: column;
            display: flex;
            justify-content: center;
            margin: 0;
      }

      .refine h3 input {
            margin: 0 auto;
      }
      .refine h3, p {
            text-align: center;
      }

      .refine h3+h3 input {
            flex-direction: column;
            display: flex;
            margin: 0 auto;
            justify-content: center;
      }

      .refine input {
            margin: 0;
      }
}